In [9]:
!conda install lxml html5lib beautifulsoup4 --yes

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

In [2]:
import pandas as pd
import numpy as np

In [3]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
df = pd.read_html(url)
df1 = pd.DataFrame(df[0])
df1.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [4]:
df1.tail()

,Postal Code,Borough,Neighbourhood
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

In [5]:
df1['Borough'].value_counts()

Not assigned        77
North York          24
Downtown Toronto    19
Scarborough         17
Etobicoke           12
Central Toronto      9
West Toronto         6
York                 5
East Toronto         5
East York            5
Mississauga          1
Name: Borough, dtype: int64

In [6]:
indexNames = df1[ df1['Borough'] == 'Not assigned' ].index
print(len(indexNames))

77

In [7]:
df1.drop(indexNames , axis = 0, inplace=True)

In [8]:
df1.reset_index(drop=True, inplace=True)

In [9]:
df1.head(5)

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [10]:
len(df1)

103

In [11]:
df1['Postal Code'].value_counts()

M4G    1
M4M    1
M1L    1
M1W    1
M1K    1
      ..
M2L    1
M6H    1
M6N    1
M3L    1
M9A    1
Name: Postal Code, Length: 103, dtype: int64

In [12]:
asd = df1.duplicated(subset=['Postal Code'])

In [13]:
print(asd)

0      False
1      False
2      False
3      False
4      False
       ...
98     False
99     False
100    False
101    False
102    False
Length: 103, dtype: bool

In [14]:
# checks if duplicate Postal Code is Present in DF or not, check the no. 3 condition 3, the data in wikipedia has been updated so merging no longer needed
# updated information in wikipedia is already merged for duplicate postal codes

z = 'No Duplicate Present'
for i in range(0,len(asd)):
    if asd[i] == True:
        z = 'Yes Duplicate Present'
        break
print('Duplicate Status of Postal Code: ' + z)

Duplicate Status of Postal Code: No Duplicate Present

In [15]:
# cheecks if a Neighbourhood as Not assigned value, after droping he borough Not assigned we dont have any neighborhood with Not assignned value
# so we can skip the no. 3 condition 4 (Not assigned neighborhood will be the same as the borough)

len(df1[df1['Neighbourhood'] == 'Not assigned'])

0

<h2> Work Explanation and Assumption </h2>

<p> At first, I installed all the reqired libraries needed for the project. Than I used Pandas to read from web (wikipedia), then I saw the data's head and tail to understand the data, then I tried to understand the frequency of the column Borough, than I droped all the rows containg Borough Not assigned as instructed. Checked the df for duplicated Postal Code, For checking if duplicate Postal Code is Present in DF or not, check the no. 3 condition 3, the data in wikipedia has been updated so merging no longer needed, updated information in wikipedia is already merged for duplicate postal codes and no duplicate values of Postal Code are found in the dataframe. Checked if a cell has a borough but a Not assigned neighborhood, after droping he borough Not assigned we dont have any neighborhood with Not assignned value, so we can skip the no. 3 condition 4 (Not assigned neighborhood will be the same as the borough). </p>

In [16]:
df1.shape

(103, 3)